.daybook-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.daybook-header{
  display: flex;
  align-items: center;
width: 100%;
}

.daybook-title{
    margin: 20px auto;
    border-bottom: 1px solid ;
}

.back-button{
position: absolute;
right: 10px;
font-size: 26px;
cursor: pointer;
}

